<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="Index.html"></a>Home</li>
                    <li><a href="Login.html"></a>Login</li>
                    <li><a href="couponpromo.html"></a>Promotions</li>
                    <li><a href="Myprofile.html"></a>My Profile</li>
                    <li><a href="AdminHome.html"></a>Admin</li>
                </ul>
            </nav>
        </header>
    </body>
</html>