
.flex-container {
    display:flex;
    background-color:orange;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    border-radius: 25px; 
    padding: 14px 20px;
    text-align:center;
    float:left;
  }
  
  .flex-container2 {
    display:flex;
    background-color:rgb(126, 126, 126);
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    border-radius: 25px; 
    padding: 14px 20px;
    text-align:center;
    
  }
  
  .flex-container3 {
    display:flex;
    background-color:orange;
    justify-content:center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-radius: 25px;
    float:left; 
  }
  
  .flex-container > div {
    background: orange;
    margin:25px;
    padding:.5px;
    font-size: 19px;
  }
  
    .flex-container2 > div {
    background: rgb(126, 126, 126);
    margin:25px;
    padding:.5px;
    font-size: 14px;
    }
  
    .flex-container3 > div {
    background: orange;
    margin:25px;
    padding:.5px;
    font-size: 19px;
    }
    